
body {
  height:0%;
  width:100%;
  background-color:#cccccc;
  margin:10px 10px 0 10px;
  padding-bottom: 20px;
  border: 1px solid transparent;
}

img {
  height: 140%;
  width: 55%;
  position: relative;
  top: -120px;
  left: 700px;
}

h1 {
  position: relative;
  top:-1060px;
  left: 20px;
  font-size: 150px;
  font-family: 'Londrina Sketch', sans-serif;
  color:white;
}

.bio {
  width: 54%;
  position: relative;
  top: -1610px;
  left: 55px;
  font-size: 18px;
  font-family: 'Coming Soon', arial;
  text-align: center;
  background: transparent;
}

span {
  color: deeppink;
}

.rectangle {
  margin-bottom: 0;
  width: 120%;
	height: 400px;
  position: relative;
  left: -25px;
  top: -820px;
  align-items: baseline;
  background: white;
  opacity: .4;
}

.social {
  position: relative;
  left: -25px;
  top: -1200px;
}
